/* I testi dei seguenti selettori avranno un font maiuscolo */
h1, h2,
nav{
    text-transform: uppercase;
}

/* Font in grassetto per tutti gli h1, h2 */
h1, h2 {
	font-weight: 600;
}

/* Sfondo full width per header e footer-bottom */
.my-bg-dblue{
    background-color: #2c3e50;
}

/* INIZIO Formattazione hr star */
.star>.hr{
    width: 12%;
    height: 3px;
    background-color: black;
}

.star>span{
    font-size: 2rem;
    padding: 0 .5rem;
}
/* /FINE Formattazione hr star */

/* Per le seguenti section avrò uno sfondo full width */
section#jumbotron,
section#aboutus{
    background-color: #1abc9c;
}

/* Per la seguente section avrò uno sfondo full width  e un altezza fissa */
section#contacts{
    height: 500px;
    background-color: greenyellow;
}

/* Sfondo full width per footer-top */
footer section#footer-top{
    background-color: #3a546d;
}

/* Larghezza img del jumbotron a partire dai schermi mobile */
section#jumbotron img{
    width: 30%;
}

/* Solo per il jumbotron l'hr è bianco */
section#jumbotron .star>.hr{
    background-color: white;
}

/* Le immagini delle card prendono il 100% della larghezza del container ed hanno i bordi curvi */
section#cards .my-card img{
    width: 100%;
    border-radius: 10px;
}

/* ? MEDIA QUERY */
@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
    /* Larghezza img del jumbotron a partire dai schermi large */
    section#jumbotron img{
        width: 17%;
    }
}

