/* I testi dei seguenti selettori avranno un font maiuscolo */
h2,
h5,
nav,
section#jumbotron{
    text-transform: uppercase;
}

/* Font in grassetto per tutti gli h1, h2 */
h1, h2 {
	font-weight: 600;
}

/* Sfondo full width per header e footer-bottom */
.my-bg-dblue{
    background-color: #2c3e50;
}

/* Sfondo verde acqua */
.my-bg-aqua{
    background-color: #1abc9c;
}

/* Button aqua */
.my-btn-aqua{
    background-color: #1abc9c;
    border-color: #1abc9c;
}

/* INIZIO Formattazione hr star */
.star>.hr{
    width: 12%;
    height: 3px;
    background-color: black;
}

.star>span{
    font-size: 2rem;
    padding: 0 .5rem;
}
/* /FINE Formattazione hr star */

/* Sfondo full width per footer-top */
footer section#footer-top{
    background-color: #3a546d;
}

/* Larghezza img del jumbotron a partire dai schermi mobile */
section#jumbotron img{
    width: 30%;
}

/* Solo per la section jumbotron about l'hr è bianco */
section#jumbotron .star>.hr,
section#aboutus .star>.hr{
    background-color: white;
}

/* Le immagini delle card prendono il 100% della larghezza del container ed hanno i bordi curvi */
section#cards .my-card img{
    width: 100%;
    border-radius: 10px;
}

/* Nella section contatti tolgo i bordi agli input del form */
section#contacts input,
section#contacts textarea{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

/* La textarea ha un'altezza maggiore */
section#contacts textarea{
    height: 150px;
}

/* Cerchio per i link social del footer */
section#footer-top .fa-brands {
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 1rem;
	border: 1px solid white;
	border-radius: 50%;
    margin: 0 .3rem 1rem;
}

/* Cambio colore per le parole chiave del footer */
section#footer-top p>span{
    color: #1abc9c;
}

/* ? MEDIA QUERY */
@media screen and (min-width: 992px) {
    /* Larghezza img del jumbotron a partire dai schermi large */
    section#jumbotron img{
        width: 17%;
    }
}